.main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  background-color: red;
}
